<div class="container" >
    <h1 class="title">Address Book</h1>
    <div class="header-container">
        <h2>Person Details</h2>
        <button mat-raised-button color="primary" class="add-person-btn" (click)="showForm()">Add Person</button>
      </div>

      <!-- Show Form Conditionally -->
  <div class="modal-overlay" *ngIf="isFormVisible">
    <app-person-form (close)="closeForm()" (addPerson)="addPersonToList($event)"></app-person-form>
  </div>

    <table mat-table [dataSource]="persons" class="mat-elevation-z8">
      <!-- Columns -->
      <ng-container matColumnDef="fullname" >
        <th mat-header-cell *matHeaderCellDef> Fullname </th>
        <td mat-cell *matCellDef="let person"> {{person.fullname}} </td>
      </ng-container>
  
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let person"> {{person.address}} </td>
      </ng-container>
  
      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef> City </th>
        <td mat-cell *matCellDef="let person"> {{person.city}} </td>
      </ng-container>
  
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef> State </th>
        <td mat-cell *matCellDef="let person"> {{person.state}} </td>
      </ng-container>
  
      <ng-container matColumnDef="zip">
        <th mat-header-cell *matHeaderCellDef> Zip Code </th>
        <td mat-cell *matCellDef="let person"> {{person.zip}} </td>
      </ng-container>
  
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Phone Number </th>
        <td mat-cell *matCellDef="let person"> {{person.phone}} </td>
      </ng-container>
  
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let person">
          <button mat-icon-button (click)="editPerson(person)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deletePerson(person)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="['fullname', 'address', 'city', 'state', 'zip', 'phone']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['fullname', 'address', 'city', 'state', 'zip', 'phone'];"></tr>
  </table>

  
  </div>


  