<div class="form-container">
    <div class="form-header">
      <h2>PERSON ADDRESS FORM</h2>
      <button class="close-btn" (click)="closeForm()">&#x2716;</button>
    </div>
  
    <form (ngSubmit)="submitForm()">
      <label>Name</label>
    <input type="text" [(ngModel)]="name" name="name" placeholder="Enter name" required />

    <label>Email</label>
    <input [(ngModel)]="email" name="email" placeholder="Enter Email" required />

    <label>Phone Number</label>
    <input type="text" [(ngModel)]="phoneNumber" name="phoneNumber" placeholder="Enter phone number" required />
  
      <div class="form-actions">
        <button class="btn btn-add" type="submit">Add</button>
        <button class="btn btn-reset" type="reset">Reset</button>
      </div>
    </form>
  </div>
  